<a href="https://colab.research.google.com/github/rlawkdgn123/python/blob/master/%EC%9D%91%EC%9A%A95_1_30104_%EA%B9%80%EC%9E%A5%ED%9B%84_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [연습문제1]

*   학번은 위의 리스트 순으로 1부터 시작한다.
*   60점 이상이면 합격, 그렇지 않으면 불합격

*  다음 코드를 복사해서 부분을 완성하세요~

```
jumsu = [100, 75, 67, 45, 80]
for i, val             ( ): # enumerate 사용
    
    if    >= 60: 
        print("  %  번 학생은 합격입니다."   %  )
    
        print("  %  번 학생은 불합격입니다."   %  )
```
[결과]
#### 1번 학생은 합격입니다.
#### 2번 학생은 합격입니다.
#### 3번 학생은 합격입니다.
#### 4번 학생은 불합격입니다.
#### 5번 학생은 합격입니다.

In [0]:
# your code

jumsu = [100, 75, 67, 45, 80]
for i, val in enumerate (jumsu): # enumerate 사용
 
    if    >= 60: 
        print("  %  번 학생은 합격입니다."   %  )
 
        print("  %  번 학생은 불합격입니다."   %  )

# [연습문제2]

*   다음 예시와 같이 DataFrame을 만드세요
*   지역, 병상, 확진자, 사망자(사례 5개만들기) 숫자는 자유
*   다음 코드를 복사해서 부분을 완성하세요~
*   [결과](https://drive.google.com/open?id=1tw09Avk3ir4DQuqFy8qdXGfIbZo5xMIy)

In [0]:
import pandas as pd

In [0]:
gu = [['서울',100,23,5],['부산',120,30,1],['인천',120,40,6],['광주',40,1,20],['대전',70,20,2]]
df=pd.DataFrame(gu)

In [0]:
df.colums=['지역','병상','확진자','사망자']
df.index=[1,2,3,4,5]
df

   지역   병상  확진자  사망자
1  인천  120   27    5
2  서울  210  301   11
3  경기  120  132   10
4  강원   24   21    7
5  제주   84   54    3